.social__media__item::after {
    content: "\a";
    white-space: pre;
}

.social__media__item {
    font-size: 16px;
    display: inline-block !important;
    margin: 4px;
}

.social__media__images {
    height: 24px;
    width: 24px;;
}